@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Dosis:wght@300&family=Old+Standard+TT&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
.card{
  background-image: url(../images/Card-Bg.jpg);  
  background-size: cover;
  height: 100%;
}
.container{
    --bs-gutter-x: 0rem;
    width: 100%;
    
}
header{
   position: relative;
}
.profile{
    text-align: right;
    font-size: 14px;
}
.profile a{
    text-decoration: none;
    color: white;
}
.profile a:hover{
    text-decoration:underline;
}
.brand p{
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 2px 2px 6px grey;
   
   
  }
  .brand h1{
    font-family: 'Old Standard TT', serif;
  }
 
.brand h1{      
    text-shadow: 2px 2px grey, 4px 4px darkred;
    mix-blend-mode: screen;
    letter-spacing: 9px;
    transition: 2s;
       
}
.brand h1:hover {
    letter-spacing: 10px;
    text-shadow: -2px -2px white, -2px -2px lightblue;
    cursor: pointer;
}
  
form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}
.Form-group,
.form-group-sm{
 width: 130px;

}
.Extra-Width{
    width: 170px;
}

.form-control,
option,
.form-control-sm{
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6); 
    box-shadow: 3px 3px 6px grey;
    border: none;
    border-radius: 3px;
}
th{
    width: fit-content;
    font-size: 0.8rem;
 
}
.book-bg{
    transition: 1.5s;
   background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  
}
.book-bg:hover{
    letter-spacing: 4px;
    cursor: pointer;
    transition: 2s;
}
#poster{
    width:auto;
    box-shadow: 3px 3px 6px grey;
    border: none;
    border-radius: 3px;
}
.card-img-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
}
thead{
    font-family: 'Chakra Petch', sans-serif;   
}
tbody{
    font-family: 'Old Standard TT', serif;
}
tbody:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);

   }
 @media only screen and (min-width:797px) {
   
    thead{
        font-family: 'Chakra Petch', sans-serif;
        font-size: 0.2rem;
        font-weight: bold;   
    }
    tbody{
        font-family: 'Old Standard TT', serif;
        font-size: 12px;
        font-weight: bold;  
    }

} 